$brand-primary: #006877;
$light-blue: #0092a7;
$brand-secondary: #9E6562;
$brand-tertiary: #216A4D;
$brand-error: #8F4951;
$white-hover: #ffffff;
$white: #dee2e6;
$transparant: rgba(0, 0, 0, 0);
$backdrop: rgba(0, 0, 0, 0.5);
$grey: #AAAAAA;
$black: #222222;
$light-grey: #ececec;