@import "../../styles/variable";


.header-bg-transparant{
background-color: transparent !important;
}

.mega-menu{
    width: 800px;
    left: 60%;
    transform: translateX(-40%);
    border-radius: 16px;
    a{
        color: $white;
        transition: all 0.3s ease;
    }
    a:hover{
        color: $white-hover;
    }
}

.dropdown-item:focus, .dropdown-item:hover{
    border-radius: 8px;
}

.show-header{
    transform: translateY(0);
    border-radius: 0 0 24px 0;
    transition: all 0.3s ease;
}

.hide-header{
    transform: translateY(-82px);
    border-radius: 0 0 24px 0;
    transition: all 0.3s ease;
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
    .mega-menu{
        width: auto;
        left: 0;
        transform: none;
    }
 }

 ul.dropdown-menu{
    border-radius: 16px;
 }

