@import "../../styles/variable.scss";

.argon-bank {



    .motion-color {
        width: 100%;
        height: 100%;
        position: relative;
        background: linear-gradient(45deg,
                #005a67,
                #54302e,
                #005a67,
                #222222,
                #005a67,
                #54302e);
        background-size: 600% 100%;
        animation: gradient 16s linear infinite;
        animation-direction: alternate;
    }

    @keyframes gradient {
        0% {
            background-position: 0%;
        }

        100% {
            background-position: 100%;
        }
    }

    .first-section {
        padding: 166px 0px 100px 0px;
        border-radius: 0px 0px 80px 0px;
        background-color: $brand-primary;

        h1 {
            font-size: 65px;
            color: white;

            span {
                background: #9e6562;
                background: linear-gradient(to right, #9e6562 0%, #0092a7 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p {
            color: $grey;
        }
    }

    .second-section{
        padding: 100px 0px 100px 0px;
    }

    .third-section {
        background-color: transparent;
        background-image: linear-gradient(90deg, #000000 0%, #404040 100%);
        padding: 100px 0px 100px 0px;
        color: $white-hover;
        font-weight: 100;

        h3 {
            font-size: 60px;

            span {
                background: #9e6562;
                background: linear-gradient(to right, #9e6562 0%, #0092a7 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .card-view {
            padding: 8px;
            border-radius: 28px;
            border: 1px solid $dark-grey;
            color: $white;
            img{
                border-radius: 24px;
            }
            h4 {
                color: $light-blue;
                font-size: 28px;
                text-align: center;
                margin-top: 24px;
            }

            p {
                color: $grey;
                text-align: center;
            }
        }
    }

    .fifth-section {
        padding: 100px 0;
        .card{
            img{
                border-radius: 8px;
            }
        }
        h3 {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 24px;
        }

        h4 {
            font-weight: 500;
            background: #9e6562;
            background: linear-gradient(to right, #9e6562 0%, #0092a7 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        a {
            color: $black;
        }
    }

    .sixth-section {
        padding: 100px 0px;
        margin-bottom: 100px;
        background-color: $light-grey;
        text-align: center;
        border-radius: 48px;

        h3 {
            font-size: 60px;
            font-weight: 700;
        }

        p {
            font-size: 48px;
            font-weight: 700;
            background: #9e6562;
            background: linear-gradient(to right, #9e6562 0%, #0092a7 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        button {
            padding: 20px 30px;
            border-radius: 50px;
        }
    }

    .seventh-section {
        padding: 100px 0px;
        text-align: center;

        h3 {
            font-size: 55px;
            font-weight: 700;
        }

        .testimonial {
            font-weight: 300;

            .testimonial-card {
                padding: 24px 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .left-qoute {
                    color: $very-light-grey;
                    font-size: 90px;
                    position: absolute;
                    left: 0;
                    top: -20px;
                    z-index: -1;
                }

                .right-qoute {
                    color: $very-light-grey;
                    font-size: 90px;
                    position: absolute;
                    right: 0;
                    bottom: -20px;
                    z-index: -1;
                }

                .content {
                    font-size: 20px;
                    color: $black;
                    position: relative;
                    padding: 24px;
                }

                h6 {
                    font-size: 18px;
                    color: $black;
                    margin-bottom: 8px;
                    font-weight: 400;
                }

                p {
                    font-size: 14px;
                    color: $grey;
                }

                .user-image {
                    border-radius: 50%;
                }
            }
        }
    }
    ul.social-icons {
        display: flex;
        align-items: center;
        margin: 0;
        gap: 8px;
        list-style: none;
        padding: 0;
        li {
            padding: 0;
            transition: all 0.3s ease;

            &:hover {
                margin-top: -3px;
            }

            a {
                font-size: 16px;
                transition: all 0.3s ease;

                &:hover {
                    padding-left: 0px;
                }
            }
        }
    }
}